/* LESS declarations go here */
body {
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: background-color 2s;
}

#translucent {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  opacity: 0.3;
  background-image: linear-gradient(to top, black, white);
}
