/* LESS declarations go here */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

#background {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: background-color 1s;
}

#translucent {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  opacity: 0.3;
  background-image: linear-gradient(to top, black, white);
}

#playground {
  height: 100vh;
  color: #fff;
  text-align: center;
  #slogan {
    margin: 0;
  }
  .instrument-icon {
    width: 64px;
    height: 64px;
  }
  #footer {
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 0;
    font-size: 12px;
    opacity: 0.5;
  }
}

h1#logo {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 64px;
  text-shadow: 0 0 3px #000;
  margin-bottom: 0;
}

#piano {
  display: inline-block;
  text-align: left;
  margin: 40px auto;
  #white-keys {
    margin: 0;
  }
  .white-key {
    display: inline-block;
    border: 4px solid white;
    width: 4vw;
    height: 16vw;
    margin: 0 0 0 -8px;
    cursor: pointer;
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
  }
  #black-keys {
    position: relative;
    top: -16vw;
    margin: -8px 0 0 -6px;
    left: 1vw;
  }
  .black-key {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0 -8px 0 2vw;
    border: 4px solid white;
    border-radius: 0 0 4px 4px;
    width: 2vw;
    height: 10vw;
    cursor: pointer;
    &.hidden {
      visibility: hidden;
    }
  }
}

#drums {
  .lugs {
    margin: 0;
    padding: 0;
    .lug {
      position: absolute;
      display: block;
      border-right: 4px solid #fff;
      border-left: 3px solid transparent;
      border-radius: 1vw;
      height: 1vw;
      margin-top: -0.5vw;
      transform-origin: 0 50% 0;
      &.first {
        transform: rotate(45deg)
      }
      &.second {
        transform: rotate(45deg * 2)
      }
      &.third {
        transform: rotate(45deg * 3)
      }
      &.fourth {
        transform: rotate(45deg * 4)
      }
      &.fifth {
        transform: rotate(45deg * 5)
      }
      &.sixth {
        transform: rotate(45deg * 6)
      }
      &.seventh {
        transform: rotate(45deg * 7)
      }
    }
  }
  #bass-drum {
    display: inline-block;
    width: 16vw;
    height: 16vw;
    border-radius: 16vw;
    border: 4px solid #fff;
    vertical-align: middle;
    margin: 2vw;
    .lugs {
      margin-top: 8vw;
      margin-left: 8vw;
      .lug {
        width: 8vw;
      }
    }
  }
  #snare-drum {
    display: inline-block;
    width: 12vw;
    height: 12vw;
    border-radius: 12vw;
    border: 4px solid #fff;
    vertical-align: middle;
    margin: 2vw;
    .lugs {
      margin-top: 6vw;
      margin-left: 6vw;
      .lug {
        width: 6vw;
      }
    }
  }
}

@keyframes flash {
    0%   {height: 0vh;}
    5%  {height: 2vh; margin-top:-1vh}
    10%  {height: 1vh; margin-top:-0.5vh}
    100% {height: 0vh;}
}

@-webkit-keyframes flash {
    0%   {height: 0vh;}
    5%  {height: 4vh; margin-top:-2vh}
    10%  {height: 1vh; margin-top:-0.5vh}
    100% {height: 0vh;}
}
@-moz-keyframes flash {
    0%   {height: 0vh;}
    5%  {height: 4vh; margin-top:-2vh; opacity: 1}
    10%  {height: 1vh; margin-top:-0.5vh}
    100% {height: 0vh; opacity: 0}
}

.flash {
  -webkit-appearance: none;
  -webkit-animation-name: flash;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-appearance: none;
  -moz-animation-name: flash;
  -moz-animation-iteration-count: 1;
  -moz-animation-duration: 1s;
  appearance: none;
  animation-name: flash;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

#notes {
  .note {
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    display: block;
    width: 100vw;
    height: 2vh;
    .flash
  }
}
